table {
  width: 100%;
}

/* standings CSS */
.even {
  background-color: rgb(214, 208, 208);
  background-color: rgb(245, 214, 197);
  background-color: rgb(235, 204, 187);
}

.odd {
  background-color: rgb(224, 218, 218);
  background-color: rgb(245, 224, 207);
}

td {
  padding-left: 1em;
  padding-right: 1em;
  color: black;
}

th {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

thead {
  background-color: rgba(242, 120, 12, 1);
}

#team-results td.team-badge {
  text-align: left;
}

tr.gap {
  height: 4px;
}

td, th {
  padding-top: 3px;
  line-height: 1.2em;
}

td.events {
  text-align: right;
}

td.totalPoints {
  text-align: right;
}

td:content {
  border-style: solid;
  border-width: 2px;
}

td.odd:content {
  border-color: rgb(224, 218, 218);
}

td.even:content {
  border-color: rgb(214, 208, 208);
}

i.fas {
  text-stroke: 0.5px black;
  -webkit-text-stroke: 0.5px black;
}

.fa-star {
  color: gold;
}

i.gold {
  color: gold;
}

i.silver {
  color: silver;
}

i.bronze {
  color: #cd7f32;
}

thead.a-grade>tr {
  background-color: red;
}

thead.b-grade>tr {
  background-color: green;
}

thead.c-grade>tr {
  background-color: lightseagreen;
}

thead.d-grade>tr {
  background-color: orange;
}

tr.positions > td {
  width: 24px;
  padding-left: 4px;
  padding-right: 4px;
}

td.points {
	text-align: left;
}
td.points > span {
	display: inline-block;
	min-width: 24px;
	text-align: center;
}
td.points > span:nth-child(1) {
	padding-left: 1em;
}

/* end of standings CSS */
