body {
	background: linear-gradient(to right, rgb(73, 27, 50), rgb(161, 0, 86), rgb(255, 126, 9));
	text-align: center;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 125%;
}

section#content {
	max-width: 76em;
	margin: auto;
}

footer {
	text-align: center
}

a, a:hover, a:visited {
	color: white;
}
