<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Kittyhawk Racing</title>
		<link rel="icon" href="assets/images/kittyhawk-bw.png" type="image/png">
		<link rel="stylesheet" href="assets/css/style.css">
		<!-- google fonts to host locally later... -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<img id="header" src="assets/images/kittyhawk-header.svg"
			title="Kittyhawk Racing"/>
		</header>
		<section id="content">
			{{ content }}
		</section>
		<footer>
			Copyright &copy; 2023&mdash;Jessica L. Hamilton
		</footer>
	</body>
</html>
